@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bree+Serif&family=Calistoga&family=Crimson+Text:ital@1&family=Poppins:wght@200;300;400;500;600;700&family=Prompt:wght@600&family=Roboto+Slab&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html{
    scroll-behavior: smooth;
}
/* navbar */
#navbar{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
#navbar::before{
    content: "";
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
}
#logo{
    margin-left: 80px;
    margin-top: 13px;
}
#navbar img{
    height: 100px;
}
#navbar ul{
    display: flex;
    justify-content: center;
}
#navbar ul li{
    font-size: 2rem;
    list-style: none;
    padding: 1px 30px;
    margin: 0px 5px;
    /* border-radius: 20px;
    background-color: #6392f9; */
    cursor: pointer;
    border-bottom: 0px  solid blue;
    transform: 0.4 all linear;
}
#navbar ul li:hover{
    border-bottom: 4px  solid blue;
}

#navbar ul li a{
    padding: 2px 2px;
    text-decoration: none;
    
}
body{
    background: linear-gradient(to left top,#0002ff,#b3beff);
    height: 100vh;
    width: 100%;
}

#main{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 100px 200px;
    color: #e6e9ff;
}
#main h1{
    margin-bottom: 40px;
    font-size: 3rem;
    border-bottom: solid 4px blue;
}

#main span{
    font-size: 1.5rem;
    margin-bottom: 100px;
}

#main button{
    width: 20%;
    padding: 20px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: white;
    color: #262781;
}
#main button a{
    text-decoration: none;
}